@import "styles/colors";
@import "styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headingSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  .heading {
    color: #8c6542;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .subHeading {
    color: #8c6542;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: -0.56px;
  }
}

.gallaryCTA {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  .galaryBtn {
    @include btn-class;
    color: #22401e;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
  }
}

.imagesSection {
  display: flex;
  align-items: center;
  gap: 18px;
  max-height: 550px;
  margin: 50px 0;

  .leftImage {
    background-image: url("../../assets/images/home-image-1.jpeg");
    background-position: center;
    width: 815px;
    height: 652px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rightImage {
    background-image: url("../../assets/images/elixir-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 399px;
    height: 652px;
  }
}

.whatsAppContainer {
  display: flex;
  justify-content: flex-end;

  .whatsAppBtn {
    @include btn-class;
  }
}

.exploreSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .heading {
    color: #8c6542;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.ourLocationSection {
  position: relative;
  height: 100%;
  min-height: 750px;
  padding: 36px 104px;
  background-color: #7a8c51;
  margin-top: 80px;

  .ourLocation {
    color: #fcfbfa;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }
  .mapImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-image: url("../../assets/images/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    min-width: 810px;
    height: 79%;
  }

  .viewBtn {
    position: absolute;
    bottom: 50px;
    left: 104px;
    @include btn-class;
    color: #22401e;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
    display: flex;
    align-items: center;
  }
}

.amnetiesSection {
  display: flex;
  flex-direction: column;
  gap: 36px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .amnetiesHeader {
      color: #8c6542;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .amnetiesText {
      color: #8c6542;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px;
      letter-spacing: -0.56px;
    }
  }

  .exploreBtn {
    @include btn-class;
    border-radius: 5px;
    background: #22401e;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 282px;
    height: 54px;
  }
}
