@import "styles/colors";
@import "styles/mixins";

.headingSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  .heading {
    color: #8c6542;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
  }

  .subHeading {
    color: #8c6542;
    font-size: 28px;
    line-height: 34px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.56px;
  }
}

.list {
  .accordionSection {
    padding: 24px 0;
    border-bottom: 1px solid #22401e;
    .specTitle {
      cursor: pointer;
      color: #22401e;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.56px;
    }

    .specValueSection {
      display: none;
      color: #8c6542;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: 34px;
      letter-spacing: -0.56px;
      transition: 0.3s ease-in-out;

      &_1 {
        padding-bottom: 16px;
      }

      &.show {
        transition: 0.3s ease-in-out;
        display: block;
      }
    }
  }
}
