@import "styles/colors";
@import "styles/mixins";

.headingSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;

  .heading {
    color: #8c6542;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
  }

  .subHeading {
    color: #8c6542;
    font-size: 28px;
    line-height: 34px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.56px;
  }
}

.imageSection {
  .btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .downloadBtn {
      display: flex;
      align-items: center;
      gap: 5px;
      @include btn-class;
      color: #22401e;
      text-align: right;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.4px;
    }
  }

  .bgImage {
    background-image: url("../../assets/images/Elixir_7-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
    max-width: 1200px;
    max-height: 980px;
  }
}

.imageSection1 {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 1200px;

  .bgImage1 {
    background-image: url("../../assets/images/ElixirAmneties.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
    min-width: 1200px;
    max-height: 980px;
  }

  .bgImage2 {
    background-image: url("../../assets/images/Elixir_clubhouse-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
    min-width: 1200px;
    max-height: 980px;
  }

  .bgImage3 {
    background-image: url("../../assets/images/Elixir_clubhouse-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
    min-width: 1200px;
    max-height: 980px;
  }

  .bgImage4 {
    background-image: url("../../assets/images/Elixir_clubhouse-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
    min-width: 1200px;
    max-height: 980px;
  }
}

.cardsSection {
  display: flex;
  width: 90vw;
  height: 80vh;
  background-color: #7a8c51;
  padding: 50px;
  margin-top: 50px;

  .heading {
    color: #fff;
    text-align: justify;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.96px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      border-radius: 16px;
      background: rgba(34, 64, 30, 0.5);
      width: 275px;
      height: 313px;

      .text {
        color: #fcfbfa;
        text-align: center;
        font-size: 25.6px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
