@import "styles/colors";
@import "styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 90vw;
  min-height: 100vh;
  padding: 24px 80px;
  overflow: auto;
  background-color: $bg-original;
}
